<section id="mainBox">
    <div class="container text-center header-section">
       <h1
          style="
          font-family: Nunito, sans-serif;
          font-weight: bold;
          font-style: normal;
          "
          >
          Dürfen wir dich up-to-date halten?
       </h1>
       <p
          style="
          font-family: Nunito, sans-serif;
          font-weight: bold;
          font-size: 18px;
          "
          >
          Ja, dann aboniere doch unseren Newsletter. 
       </p>
       <link rel="stylesheet"
          href="https://emailoctopus.com/bundles/emailoctopuslist/css/1.6/form.css"
          >
       <div class="emailoctopus-form-wrapper emailoctopus-form-default null"
          style="font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; color: rgb(26, 26, 26);"
          >
          <p class="emailoctopus-success-message">
          </p>
          <p class="emailoctopus-error-message">
          </p>
          <form action="https://emailoctopus.com/lists/d45abf77-f709-11e8-a3c9-06b79b628af2/members/embedded/1.3/add"
             method="post"
             data-message-success="Juhu, danke dir! Jetzt schreibe ich dir ab und an mal."
             data-message-missing-email-address="Bitte gebe eine E-Mail an!"
             data-message-invalid-email-address="Die E-Mail Adresse sieht irgendwie komisch aus. Kannst du es nochmal versuchen?"
             data-message-bot-submission-error="Mhh, du bist ein Robotor oder?"
             data-message-consent-required="Akzeptiere doch bitte das Feld."
             data-message-invalid-parameters-error="Strange, hier fehlen irgendwie informationen."
             data-message-unknown-error="Sorry, an unknown error has occurred. Please try again later."
             class="emailoctopus-form"
             >
             <div class="emailoctopus-form-row">
                
                <input id="field_0"
                   name="field_0"
                   type="email"
                   placeholder
                   required="required"
                   >
                <br/><br/>
                <button
                   type="submit"
                   class="btn btn-primary sinusbot-download github"
                   role="button"
                   >
                <img
                   class="image-button-email"
                   height="30px"
                   alt="image-button"
                   src="/img/envelope-light.svg"
                   /></button>
             </div>
             <div aria-hidden="true"
                class="emailoctopus-form-row-hp"
                >
                <input type="text"
                   name="hpc4b27b6e-eb38-11e9-be00-06b4694bee2a"
                   tabindex="-1"
                   autocomplete="nope"
                   >
             </div>
             <div class="emailoctopus-form-row-subscribe">
                <input type="hidden"
                   name="successRedirectUrl"
                   >
             </div>
          </form>
       </div>
    </div>
    <script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.6/form-embed.js" ></script>
    </div>
 </section>