<section id="mainBox">
    <div class="container text-center header-section">
      <h1
        style="
          font-family: Nunito, sans-serif;
          font-weight: bold;
          font-style: normal;
        "
      >
        Dir fehlt eine Funktion?
      </h1>
      <p
        style="
          font-family: Nunito, sans-serif;
          font-weight: bold;
          font-size: 18px;
        "
      >
        Na dann, frage uns doch einfach mal. <br />Wenn andere deine Idee auch
        so geil finden, setzen wir dieses gerne um.
      </p>
      <a
        class="btn btn-primary sinusbot-download github"
        role="button"
        href="https://github.com/Support-pp/Support-pp/issues/new"
        ><img
          class="image-button-github"
          src="/img/GitHub-Mark-Light-32px.png?h=f97168c6c00d692684d9352bf2dedfc9"
      /></a>
    </div>
  </section>