<section id="main" class="sp">
    <div class="container text-center header-section">
      <h1
        style="
          font-family: Nunito, sans-serif;
          font-weight: bold;
          font-style: normal;
        "
      >
        Du hast weitere Fragen zu Support++?
      </h1>
      <p
        style="
          font-family: Nunito, sans-serif;
          font-weight: bold;
          font-size: 18px;
        "
      >
        Komme doch auf unseren Discord Server.
      </p>
      <a
        class="btn btn-primary sinusbot-download discord"
        role="button"
        href="https://discordapp.com/invite/3acZCcu"
        ><img
          class="image-button-discord"
          src="/img/Discord-Logo-White.png?h=469b1a09194ea8379ce6952f37f09bf7"
      /></a>
    </div>
  </section>