{{ define "main" }}
    <section id="mainBox">
        <div class="container text-center header-section">
          <h1
            style="
              font-family: Nunito, sans-serif;
              font-weight: bold;
              font-style: normal;
            "
          >
          <br />{{ .Title }}<br /><br />
          </h1>
        </div>
      </section>
      <div class="container">
    <br>
    {{- range .Params.authors }}
    {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
  <div>
    <img src="{{ .Params.photo }}" alt="{{ .Params.name }}-avatar" width="39px" height="39px" style="border-radius: 90%;"/>
    <a href="{{ .Permalink }}">{{ .Params.name }}</a>
  </div>
  <hr>
    {{ end }}
    <br/>
  {{ end }}
    {{ .Content }}
</div>
{{ partial "widget/questions.html" . }}

{{ end }}