  <!-- Start: Footer Clean -->
  <div class="footer-clean">
    <footer>
      <div class="container">
        <div class="row justify-content-center">
          <!-- Start: Services -->
          <div class="col-sm-4 col-md-3 item">
            <h3>Support</h3>
            <ul>
              <li>
                <a href="https://docs.support-pp.de/" target="_blank">Docs</a>
              </li>
              <li>
                <a
                  href="https://discordapp.com/invite/3acZCcu"
                  target="_blank"
                  >Discord</a
                >
              </li>
              <li>
                <a href="https://github.com/support-pp" target="_blank"
                  >GitHub</a
                >
              </li>
            </ul>
          </div>
          <!-- End: Services -->
          <!-- Start: About -->
          <div class="col-sm-4 col-md-3 item">
            <h3>Support++</h3>
            <ul>
              <li>
                <a href="/blog/" target="_blank"
                  >Blog</a
                >
              </li>
              <li>
                <a href="https://sounds.support-pp.de" target="_blank"
                  >Sounds</a
                >
              </li>
              <li>
                <a href="https://status.support-pp.de/" target="_blank"
                  >Statuspage</a
                >
              </li>
            </ul>
          </div>
          <!-- End: About -->
          <!-- Start: Careers -->
          <div class="col-sm-4 col-md-3 item">
            <h3>Über uns</h3>
            <ul>
              <li><a href="/impressum">Impressum</a></li>
              <li><a href="/datenschutz">Datenschutzerklärung</a></li>
            </ul>
          </div>
          <!-- End: Careers -->
          <!-- Start: Social Icons -->
          <div class="col-lg-3 item social">
            <a href="https://discordapp.com/invite/3acZCcu" target="_blank"
              ><i class="fab fa-discord"></i></a
            ><a
              href="https://www.youtube.com/channel/UCHC3oiUpFrQdl83mz4PNquQ"
              target="_blank"
              ><i class="icon ion-social-youtube"></i></a
            ><a href="https://github.com/support-pp" target="_blank"
              ><i class="icon ion-social-octocat"></i></a
            ><a href="https://twitter.com/support_pp_" target="_blank"
              ><i class="icon ion-social-twitter"></i
            ></a>
            <p class="copyright">
              KlexHub UG (haftungsbeschränkt) &copy;
              <script type="text/javascript">
                document.write(new Date().getFullYear());
              </script>
            </p>
          </div>
          <!-- End: Social Icons -->
        </div>
      </div>
    </footer>
  </div>
  <!-- End: Footer Clean -->