<meta
name="twitter:description"
content="Support++ ist ein Supportsystem basierend auf dem Sinusbot.
Ein professioneller Support für Ihre Kunden!
Starten Sie jetzt! Es ist KOSTENLOS!"
/>
<meta
name="keywords"
content="support-pp, support, sinusbot, teamspeak, discord, support system, spp, teamspeak support"
/>
<meta name="twitter:title" content="Support++" />
<meta name="twitter:card" content="summary" />
<meta property="og:type" content="website" />
<meta
property="og:image"
content="/img/iconmonstr-help-3-240.png?h=9427610eb770d5bcb84a61107b0b90df"
/>
<meta
name="twitter:image"
content="/img/iconmonstr-help-3-240.png?h=9427610eb770d5bcb84a61107b0b90df"
/>
<meta
name="description"
content="Support++ ist ein Supportsystem basierend auf dem Sinusbot.
Ein professioneller Support für Ihre Kunden!
Starten Sie jetzt! Es ist KOSTENLOS!"
/>
<meta
property="og:description"
content="Support++ ist ein Supportsystem basierend auf dem Sinusbot.
Ein professioneller Support für Ihre Kunden!
Starten Sie jetzt! Es ist KOSTENLOS!"
/>
<meta
name="google-site-verification"
content="zkzOBFG-KdNgiU94p87wvCP9KXQnxDVVJWJtaIOGx38"
/>